<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/NguoiDungCssLayout/fonts.css" rel="stylesheet" />
    <link href="~/Content/NguoiDungCssLayout/screen.css" rel="stylesheet" />
    <link href="~/Content/NguoiDungCssLayout/NguoiDungCssLayout.css" rel="stylesheet" />
    <link href="~/Content/font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/NivoSlider/jquery.nivo.slider.js"></script>
    <script src="~/NivoSlider/jquery.nivo.slider.pack.js"></script>
    <link href="~/NivoSlider/nivo-slider.css" rel="stylesheet" />
</head>
<body>
    <div id="ToanTrang">
        <section class="blank">
            <div class="flash">
                <div class="icDienThoai">
                    HUFLIT
                </div>
                @if ((Session["TaiKhoan"] == null) || (Session["TaiKhoan"].ToString() == ""))
                {
                <div class="DangKyDangNhap">
                    <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                    <a href="@Url.Action("Index","TinTuc")">Tin tức</a>
                    @Html.Action("GioHangPartial", "GioHang")
                    <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                    <a href="@Url.Action("DangKy","NguoiDung")">Đăng ký</a>
                    <i class="fa fa-sign-in" aria-hidden="true"></i>
                    <a href="@Url.Action("DangNhap","NguoiDung")">Đăng nhập</a>
                </div>
                }
                else
                {
                <div class="DangKyDangNhap">
                    <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                    <a href="@Url.Action("Index","TinTuc")">Tin tức</a>
                    @Html.Action("GioHangPartial", "GioHang")
                    @Html.Action("NguoiDungPartial", "NguoiDung")
                </div>
                }
            </div>
        </section>

        <section>
            <div style="width: 100%;" id="slider" class="nivoSlider">
                <img style="width: 100%" src="~/HinhAnh/Anh1.jpg" />
            </div>
            <div style="clear:both"></div>
        </section>

        <div id="NoiDung">
            @RenderBody()
        </div>

        <section style="height: 300px">
            <div style="text-align:center" class="container body-content">
                <div class="item-info">
                    @Html.Action("SanBayPartial", "SanBay")
                </div>
            </div>
        </section>

        <section class="blank items">
            @*<div id="divLeft">
                    <div class="item">
                        <div class="item-info">
                            @Html.Action("NhaXuatBanPartial","NhaXuatBan")
                        </div>
                    </div>
                </div>*@
            <div id="divRight">
                @RenderSection("NoiDungBenPhai", false)
            </div>
            <div style="clear:both"></div>
            <div>
                <a href="@Url.Action("Index","Home")" class="button button-buy">Chào mừng bạn đến với trang Web bán vé máy bay</a>
            </div>
        </section>
    </div>
    <script type="text/javascript">
    $(window).load(function () {
        $('#slider').nivoSlider({ controlNav: false,nextText:'',prevText:''});
    });
    </script>
</body>
</html>
