@model Website_BanVeMayBay.Models.ChuyenBay

@{
    /**/

    ViewBag.Title = "Chỉnh sửa Chuyến bay";
    Layout = "~/Views/LayOut/AdminLayout.cshtml";
}

<h2>Thông tin Mới của Chuyến bay</h2>

@using (Html.BeginForm("ChinhSua", "QuanLyChuyenBay", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.MaChuyenBay)
    @Html.HiddenFor(model => model.AnhBia)
    @Html.HiddenFor(model => model.MaHangHangKhong)


    <div class="form-group">
        @Html.LabelFor(model => model.GiaBan, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.GiaBan, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.GiaBan, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SanBayDi, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("SanBayDi")
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SanBayDen, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("SanBayDen")
        </div>
    </div>

    <br />
    <div class="form-group">
        @Html.LabelFor(model => model.ThoiGianDi, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="date" name="ThoiGianDi" value="@Model.ThoiGianDi" />
            @Html.ValidationMessageFor(model => model.ThoiGianDi, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ThoiGianDen, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="date" name="ThoiGianDen" value="@Model.ThoiGianDen" />
            @Html.ValidationMessageFor(model => model.ThoiGianDen, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CoTheDat, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CoTheDat, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CoTheDat, "", new { @class = "text-danger" })
        </div>
    </div>





    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" style="background-color:orange;" value="Lưu thay đổi" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @if (ViewBag.Quyen == 3)
    {@Html.ActionLink("Trở lại Trang Quản lý Chuyến bay", "IndexVNA")}
else if (ViewBag.Quyen == 4)
{@Html.ActionLink("Trở lại Trang Quản lý Chuyến bay", "IndexVJ")}
else if (ViewBag.Quyen == 5)
{@Html.ActionLink("Trở lại Trang Quản lý Chuyến bay", "IndexJET")}
else if (ViewBag.Quyen == 6)
{@Html.ActionLink("Trở lại Trang Quản lý Chuyến bay", "IndexBAMBOO")}
else
{@Html.ActionLink("Trở lại Trang Quản lý Chuyến bay", "Index")}
</div>
