@using PagedList;
@using PagedList.Mvc;
@model PagedList.PagedList<Website_BanVeMayBay.Models.ChuyenBay>
<link href="~/Content/TrangChuCss.css" rel="stylesheet" />

@{
    ViewBag.Title = "Quản lý Chuyến bay";
    Layout = "~/Views/LayOut/AdminLayout.cshtml";
}

<p>
    @Html.ActionLink("Thêm mới Chuyến bay", "ThemMoi")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().AnhBia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().GiaBan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().MaHangHangKhong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().SanBayDi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().SanBayDen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().ThoiGianDi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().ThoiGianDen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().CoTheDat)
        </th>
        <th>
            Chi tiết
        </th>
        <th>
            Sửa
        </th>
        <th>
            Xóa
        </th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            <div id="HinhAnh"><img src="@Url.Content("~/HinhAnhAirline/"+item.AnhBia)" width="100" height="150"></div>
        </td>
        <td>
            @string.Format("{0:0,0}", item.GiaBan) vnđ
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HangHangKhong.TenHangHangKhong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SanBayDi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SanBayDen)
        </td>
        <td>
            @item.ThoiGianDi.Value.ToString("dd/MM/yyyy")
        </td>
        <td>
            @item.ThoiGianDen.Value.ToString("dd/MM/yyyy")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CoTheDat)
        </td>
        <td>
            @Html.ActionLink("Chi tiết", "HienThi", new { @_MaChuyenBay = item.MaChuyenBay })
        </td>
        <td>
            @Html.ActionLink("Sửa", "ChinhSua", new { @_MaChuyenBay = item.MaChuyenBay })
        </td>
        <td>
            @Html.ActionLink("Xóa", "Xoa", new { @_MaChuyenBay = item.MaChuyenBay })
        </td>
    </tr>
    }

</table>
<div id="divBody">
    <br />
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
</div>
<div id="divBody" class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("Index", "QuanLyChuyenBay", new { _Page = page }))
</div>