@model Website_BanVeMayBay.Models.NguoiDung

@{
    ViewBag.Title = "Xóa Người dùng";
    Layout = "~/Views/LayOut/AdminLayout.cshtml";
}

<h2>Xác nhận Xóa</h2>

<h3>Bạn chắc chắn muốn Xóa Người dùng này chứ ?</h3>
<div style="font-size:16px;word-wrap: break-word;">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TaiKhoan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaiKhoan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoTen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DienThoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DienThoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GioiTinh)
        </dt>

        @if (Model.GioiTinh == 0)
        {
            <dd>
                Nam
            </dd>
        }
        @if (Model.GioiTinh == 1)
        {
            <dd>
                Nữ
            </dd>
        }
        else
        {
            <dd>
                Khác
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.NgaySinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quyen)
        </dt>
        @if (Model.Quyen == 1)
        {
            <dd>Admin</dd>
        }
        else if (Model.Quyen == 2)
        {
            <dd>Nhân viên</dd>
        }
        else if (Model.Quyen == 3)
        {
            <dd>Vietnam Airlines</dd>
        }
        else if (Model.Quyen == 4)
        {
            <dd>Vietjet Air</dd>
        }
        else if (Model.Quyen == 5)
        {
            <dd>Jetstar Pacifics</dd>
        }
        else if (Model.Quyen == 6)
        {
            <dd>Bamboo Airways</dd>
        }
        else
        {
            <dd>Khách hàng</dd>
        }
    </dl>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" style="background-color:red;" value="Xóa" class="btn btn-default" /> |
        @Html.ActionLink("Trở lại Trang Quản lý Người dùng", "Index")
    </div>
}
